<ion-content color="light">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-row class="ion-justify-content-center">
          <ion-label><h2><b>Ops! Sem conexão com o servidor... 😢</b></h2></ion-label
          >
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-button [disabled]="!botaoHabilitado" (click)="tentarNovamente()"
            >Tentar novamente<ion-spinner
              color="light"
              name="crescent"
              *ngIf="spinnerVisivel"
            ></ion-spinner
          ></ion-button>
        </ion-row>

        <ion-row class="ion-justify-content-center"> </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
