ion-grid {
    height: 100%;
}

ion-row {
    height: 100%;
}

ion-label {
    padding: 20px;
    margin-bottom: 40px;
    text-align: center;
}

ion-spinner {
    transform: scale(1);
}

