.detalhes {
  margin: 20px 0;
  ion-button {
    margin: 20px 0;
  }
  ion-card {
    padding: 20px 0;
  }
}

.pagamento {
  padding: 20px;
  margin: 20px 0;
  ion-button {
    margin: 20px 0;
  }
}
