.detalhes {
  ion-button {
    margin: 20px 0;
  }
  ion-card {
    padding: 20px 0;
  }
}

.pagamento {
  padding: 20px;

  ion-button {
    margin: 20px 0;
  }
}

.container-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
