
<ion-content>
  <ion-img [src]="produto.imagem"></ion-img>

  <ion-row>
    <ion-col size="12">
      <ion-card-title class="ion-text-center"
        >{{ produto.nome }}</ion-card-title
      >
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-label>
        <p class="ion-text-center">{{ produto.descricao }}</p>
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-label>
        <p class="ion-text-center">{{ (quantidade * produto.valor).toFixed(2) }}</p>
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col size="12">
      <ion-button
        class="ion-align-self-center"
        color="medium"
        fill="clear"
        (click)="diminuirQuantidade()"
      >
        <ion-icon
          name="remove-circle"
          color="danger"
          slot="icon-only"
        ></ion-icon>
      </ion-button>

      {{ quantidade }}

      <ion-button
        class="ion-align-self-center"
        color="medium"
        fill="clear"
        (click)="aumentarQuantidade()"
      >
        <ion-icon name="add-circle" color="success" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin">
    <ion-col size="12" >
      <ion-item >
        <ion-textarea #observacao placeholder="Escreva aqui observações do produto ou do preparo..."></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button color="medium" (click)="cancelar()">
        Cancelar
      </ion-button>
      <ion-button color="success" (click)="adicionarAoCarrinho()">
        Adicionador ao carrinho
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
