<ion-content color="light">
  <ion-img [src]="produto.imagem"></ion-img>

  <div class="container">
    <ion-row class="linha-descricao">
      <p class="nome-produto">{{ produto.nome }}</p>

      <p class="descricao-produto">{{ produto.descricao }}</p>
    </ion-row>

    <ion-row>
      <div class="botoes-quantidade">
        <ion-row>
          <ion-button fill="clear" (click)="diminuirQuantidade()">
            <ion-icon
              name="remove-outline"
              slot="icon-only"
              color="dark"
            ></ion-icon>
          </ion-button>

          <div class="quantidade">
            <p>{{ quantidade }}</p>
          </div>

          <ion-button fill="clear" (click)="aumentarQuantidade()">
            <ion-icon
              name="add-outline"
              slot="icon-only"
              color="dark"
            ></ion-icon>
          </ion-button>
        </ion-row>
      </div>

      <div class="valor-total">
        <p>R$ {{ (quantidade * produto.valor).toFixed(2) }}</p>
      </div>
    </ion-row>

    <ion-row>
      <ion-textarea
        class="ion-text-center"
        #observacao
        placeholder="Escreva aqui observações do produto ou do preparo..."
      >
      </ion-textarea>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button
          class="botao-finalizar"
          color="success"
          (click)="adicionarAoCarrinho()"
        >
          Adicionador
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
