.container {
  padding: 20px;
}

ion-col {
  padding-right: 0;
  padding-left: 0;
}

.linha-descricao {
  margin-bottom: 30px;
}

.nome-produto {
  font-weight: bolder;
  font-size: 20px;
  margin: 10px 0;
}

.descricao-produto {
  color: gray;
  margin: 5px 0;
  font-size: 14px;
}

.valor-total {
  width: calc(100% - 154.98px);
  display: flex;
  justify-content: flex-end;
  align-items: center;

  p {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
  }
}

.botoes-quantidade {
  background-color: lightgray;
  border-radius: 20px;

  .quantidade {
    width: 17.8;
    text-align: center;

    p {
      margin: 17px 0;
    }
  }
  
}
