<ion-header>
</ion-header>

<ion-content>
  <form class="formulario vertical-center"  #form="ngForm" (ngSubmit)="registrar(form)">

          <h3>Cadastre sua conta!</h3>
          
          <div>
            <ion-item>
              <ion-input  name="nome" type="text" placeholder="Nome" ngModel required [minlength]=2></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="Email" ngModel required [minlength]=3></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="senha" type="password" placeholder="Senha" ngModel required [minlength]=5 [maxlength]=30></ion-input>
            </ion-item>

          </div>

          <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Registrar</ion-button>

  </form>
</ion-content>
