<ion-header >
  <ion-toolbar>
    <ion-title>Selecione a cidade</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen >

  <ion-list>
    <ion-searchbar placeholder="Pesquisar" (ionInput)="filtrar($event)">
    </ion-searchbar>

    <ion-item *ngFor="let localizacao of localizacoes" (click)="onClick(localizacao)">
      <h4>{{localizacao.cidade}} - {{localizacao.estado}}</h4>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="scrollInfinito($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando cidades..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
