<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="container">

  <div class="info-estabelecimento">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/McDonald%27s_logo.svg/792px-McDonald%27s_logo.svg.png" />
    <ion-card-header class="text-center">
      <ion-card-title>McDonald's</ion-card-title>
    </ion-card-header>
    <ion-card-content class="text-center">
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota.
    </ion-card-content>
  </div>

  <hr>

  <div>
  <h3 class="text-center">Em que mesa você está?</h3>

  
    <ion-item>
      <ion-label>Mesa</ion-label>
      <ion-select value="1996">
        <ion-select-option value="1989">1</ion-select-option>
        <ion-select-option value="1990">2</ion-select-option>
        <ion-select-option value="1991">3</ion-select-option>
        <ion-select-option value="1992">4</ion-select-option>
        <ion-select-option value="1993">5</ion-select-option>
        <ion-select-option value="1994">6</ion-select-option>
        <ion-select-option value="1995">7</ion-select-option>
        <ion-select-option value="1996">8</ion-select-option>
        <ion-select-option value="1997">9</ion-select-option>
        <ion-select-option value="1998">10</ion-select-option>
        <ion-select-option value="1999">11</ion-select-option>
      </ion-select>
    </ion-item>
    
  </div>

</div>

</ion-content>
