<ion-content fullscreen>
  <ion-row>
    <ion-col size="2">
      <ion-button (click)="voltarPagina()" fill="clear">
        <ion-icon name="arrow-back" slot="start" size="large"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="8">
      <ion-title class="ion-text-center">Meu Carrinho</ion-title>
    </ion-col>

    <ion-col size="2">
      <ion-button (click)="limparCarrinho()" fill="clear" color="danger">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <div class="ion-padding">
    <ion-list>
      <ion-row *ngFor="let item of carrinho" class="ion-text-wrap">
        <ion-col size="9">
          <b class="quantidade">{{ item.quantidade }}x </b>{{ item.produto.nome }}
        </ion-col>
        <ion-col size="3">
          {{ (item.quantidade * item.produto.valor).toFixed(2) | currency:'R$ ' }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="9"> </ion-col>
        <ion-col size="3"> <b> {{ getTotal() | currency:'R$ ' }}</b> </ion-col>
      </ion-row>
    </ion-list>

  </div>
  <ion-button class="botao-pedir fixed-bottom" (click)="realizarPedido()" >Pedir</ion-button>
</ion-content>
