ion-card-title {
  font-size: 14px !important;
}

ion-label {
  p {
    font-size: 12px !important;
  }
}

ion-list {
  background-color: #f4f5f8;
}

ion-card-content {
  padding: 0;
}

ion-card-title {
  font-size: 18px;
}

.descricao-produto {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ellipsify {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  display: inline-block;
}

img{
  width: auto;
  margin: auto;
  display: block;
  -webkit-border-radius: 10%;
  border-radius: 10%;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.05);
}