<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" *ngIf="estabelecimento">
  <ion-fab vertical="top" horizontal="end" slot="fixed" *ngIf="quantidadeItens">
    <ion-fab-button (click)="abrirCarrinho()" #cart>
      <div class="cart-length">{{ quantidadeItens }}</div>
      <ion-icon name="basket" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="container">
    <h3 class="ion-text-center">Produtos</h3>

    <div class="container-cardapio" *ngIf="estabelecimento.categorias">
      <ion-list *ngFor="let categoria of estabelecimento.categorias">
        <div *ngIf="categoria.produtos.length">
          <ion-list-header> {{ categoria.nome }}: </ion-list-header>

          <ion-card *ngFor="let produto of categoria.produtos">
            <ion-row (click)="adicionarAoCarrinho(produto)">
              <ion-col size="12">
                <ion-card-content>
                  <ion-row class="ion-align-items-center">
                    <ion-col size="3">
                      <img [src]="produto.imagem ? produto.imagem : 'https://i.pinimg.com/originals/61/3c/ea/613ceaae3543acdf381af20da47612dc.png'" />
                    </ion-col>
                    <ion-col size="6">
                      <ion-card-title class="ellipsify">{{ produto.nome }}</ion-card-title>
                      <ion-label>
                        <p class="descricao-produto">{{ produto.descricao }}</p>
                      </ion-label>
                    </ion-col>

                    <ion-col size="3" class="ion-text-right">
                      <ion-row class="ion-align-items-center">
                        <ion-col size="12" class="ion-text-right">
                          <ion-label color="secondary">
                            <b class="ellipsify"> {{ produto.valor | currency: 'R$' }}</b>
                          </ion-label>
                        </ion-col>
                      </ion-row>
                      <ion-row class="ion-align-items-center">
                        <ion-col size="12" class="ion-text-right">
                          <ion-button fill="clear">
                            <ion-icon name="add"></ion-icon>
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>
