.section-slide {
  box-shadow: 0px 10px 13px 0px rgba(0,0,0,0.17);
}

.section-buttons {
  padding: 30px 25px 0 10px;
  display: flex;
  align-items: center;

  ion-button {
    width: 100%;
  }

  div {
    width: 100%;

    h2 {
      font-size: 20px;
    }
  }
}
