<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="voltarPagina()" fill="clear">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="ion-text-center">Pedidos</div>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <section class="detalhes" *ngFor="let pedido of pedidos" >
    <ion-card>
      <h5 class="ion-text-center">Pedido #{{ pedido.id }}</h5>
      <p class="ion-text-center" [style]="'font-weight: 800; color: '.concat(adquirirCorCard(pedido.codigoStatus))">
        {{ exibirStatus(pedido.codigoStatus) }}
      </p>
      <p class="ion-text-center">Produtos: {{ pedido.quantidadeProdutos }}</p>
      <p class="valor-total ion-text-center" *ngIf="pedido.codigoStatus >= 2">
        <b>{{ pedido.valorTotal | currency: 'R$ ' }}</b>
      </p>
    </ion-card>
  </section>

  <br>
  <br>
  <br>

  <div class="fixed-bottom fundo-light">
    <ion-button
      [disabled]="pedidosComStatusPendente"
      (click)="finalizarComanda()"
      expand="block"
    >
      Finalizar comanda
    </ion-button>
  </div>
</ion-content>
