.item-text-center {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.input-pix {
  background-color: lightgray;
  border-radius: 5px;
  padding: 5px !important;
}
