<ion-content color="light" >
  <div class="item-text-center">
    <ion-grid >
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <h3 class="ion-text-center">Chave PIX do estabelecimento:</h3>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <ion-input [value]="chavePix" readonly class="ion-text-center input-pix"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
            <ion-button (click)="copiarChavePix()" expand="block">Copiar chave</ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
            <ion-button (click)="cancelar()" expand="block" color="medium">Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
